.welcome {
	@extend .overlay;

	@include scut-after {
		@include scut-absolute(6.5rem 16px n 0); // 16px is common scrollbar size

		background: {
			color: transparent;
			image: linear-gradient(to bottom, $c-bg-acc-light, rgba($c-bg-acc-light, 0));
		};
		height: 3px;
		z-index: 1;
	}

	background-color: #FFF;
	border: 1px solid #000 {
		radius: .3rem;
	};
	min-height: 33rem;
	max-height: 90%;
	width: 51rem;

	& > .wrapper {
		@include scut-absolute(6.5rem 0 0 0);

		overflow: {
			x: hidden;
			y: auto;
		};
		padding: 0 $base-spacing-unit;
		text-align: center;
		z-index: 0;

		& > p {
			text-align: left;
		}
	}

	.welcome__header {
		& > h1 {
			text-align: center;

			& > small {
				color: $c-fg-def;
				font: {
					family: $content-font;
					size: $base-font-size;
					weight: normal;
				};
			}
		}
	}

	.welcome__close {
		@include hover-effect--expand() {
			background-color: $c-fg-acc;
		}
		@include scut-absolute(-1px -1px n n);

		&:hover {
			color: $c-bg-light;
			transition: color .2s ease-out;
		}
	}

	.welcome__start-time {
		font-size: 125%;
		margin: $base-spacing-unit 0;
		text-align: center !important;
	}

	.welcome__contribute__description {
		@include scut-center-block();

		width: 24em;
	}

	.button--contribute {
		@extend .button--call-to-action;
	}

	.button--contribute--facebook {
		@extend .button--contribute;
		@extend .button--ico--facebook-square;
		
		@include hover-effect--expand() {	    
		    background-color: $c-facebook-light;
		    box-shadow: 0 0 .25em $c-facebook-light;
		};

		color: $c-bg-light;
		background-color: $c-facebook-def;
		border-color: $c-facebook-dark;
		display: inline-block;
		text-align: center;
	}
}

.page--offer .welcome {
	min-height: 21rem;

	&:after {
		display: none;
	}

	h1 {
		margin-top: $base-spacing-unit;
	}
}